
.cust_sideheader{
    background-color:#eeeeee
}
.cust_sideheader_img{
    height:100px
}
.cust_header_img{
    height:40px;
  margin-left: 90px;
  margin-top: 5px;
  
}
.cust_rounded_img {
    border-radius: 50%;
  }

.cust_page_header{
    
    font-size: 20px;

  }