.cust_sideheader{
    background-color:#eeeeee
}
.cust_sideheader_img{
    height:100px
}
.cust_header_img{
    height:40px;
  margin-left: 90px;
  margin-top: 5px;
  
}
.cust_rounded_img {
    border-radius: 50%;
  }

 i.icon_color{

    color : red darken-1
 }
 table {
display: block; 
overflow-x: auto;
margin-left: 10px;}
 /* Extra CSS, just styling the look: */
 table {
border-collapse: collapse;
}
 table td,th {
padding: 10px; border: 1px #000 solid;}